body {
    background: #333;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
	padding-top: 140px; 
}

article {
	width: 50%;
	padding-left: 20px;
	margin-left: 50%;
	padding-top: 20px;
	}


#cougar > p, #lion > p, #tiger > p {
	text-align: center;
	padding: 30px 40px;
}

img {
	display: block;
	margin: auto;
}

h2 {
	margin: auto;
	padding: 30px 40px;
}

h1 {
	float: left;
}



div {
	float: left;
	margin-right: 20px;
	padding-right: 20px;
	padding-left: 20px;
}

footer {
	text-align: center;
	padding: 5px 80px;
	clear: both;
}

header {
	margin: 0px;
	position: fixed;
	width: 100%;
	top: 0px;
	background: #333;
}

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach 
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue
   
   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/
#cougar {
	background-color: #ccc;
	clear: both;
	padding-bottom: 50px;
}
#lion {
	background-color: #FFD5AE;
	padding-bottom: 50px;
}
#tiger {
	background-color: #FFBD82;
	padding-bottom: 50px;
}

/* --- links and nav --- */

nav {
	float: right;
	padding-top: 40px;
}
nav ul {
	list-style: none;
	margin-top: 0;
	padding-bottom: 5px;
}
nav li {
	float: left;
	margin-right: 20px;
}


a { color: #379CB2; }
a:hover { color: #82E8FF; }
